#logo{
    margin: 2rem 2rem 2rem 2rem;
}
#resultsbtndiv{
    text-align: center;
    padding: 2rem 2rem 2rem 2rem;
}
#contentdiv{
    text-align: center;
}
#btngroup{
    margin: 2rem 2rem 2rem 2rem;
}
#avatar{
    height: 10rem;
    width: 10rem;
}
#graphrenderbtn{
    margin: 2rem 2rem 2rem 2rem;
    text-align: center;
}